<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Book List</title>
    <th:block th:replace="layout ::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout ::header"></th:block>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Ten phong</th>
            <th>Action</th>
        </tr>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
<th:block th:replace="layout ::footer"></th:block>
</body>
</html>
