<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>My Book List</title>
    <th:block th:replace="layout ::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout ::header"></th:block>
<div class="container">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/books/add}" th:object="${books}" method="post">
        <div class="row">
            <div class="col-6 mb-3">
                <label class="form-label" for="title">MA_NHANVIEN:</label>
                <input class="form-control" type="text" th:field="*{title}" id="title"/>
                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
            <div class="col-6 mb-3">
                <label class="form-label" for="author">Ten nhanvien:</label>
                <input class="form-control" type="text" th:field="*{author}" id="author" />
                <span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label class="form-label" for="gioitinh">GIOI TINH:</label>
                <input class="form-control" type="text" th:field="*{gioitinh}" id="gioitinh"/>
            </div>
            <div class="col-6 mb-3">
                <label class="form-label" for="noisinh">NOI SINH</label>
                <input class="form-control" type="text" th:field="*{noisinh}" id="noisinh"/>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <label class="form-label" for="price">Luong:</label>
                <input class="form-control" type="text" th:field="*{price}" id="price"/>
                <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </div>
            <div class="col-6 mb-3">
                <label class="form-label" for="category">Phongban:</label>
                <select class="form-control" id="category" name="category.id">
                    <option value="">---Select Category---</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" ></option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </form>
    <br />
    <a th:href="@{/books}" class="btn btn-secondary">Back to list</a>
</div>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>